{{define "js"}}
 <!-- JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--script src="js/jquery.min.js"></script-->
    <script src="js/jquery1.11.0.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <!--script src="js/popper.min.js"></script-->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/flashes.js"></script>
{{end}}